
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FKA0CE20AA37AC0423]') AND parent_object_id = OBJECT_ID(N'[dbo].[Album]'))
ALTER TABLE [dbo].[Album] DROP CONSTRAINT [FKA0CE20AA37AC0423]
GO

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FKA0CE20AAA4FD4180]') AND parent_object_id = OBJECT_ID(N'[dbo].[Album]'))
ALTER TABLE [dbo].[Album] DROP CONSTRAINT [FKA0CE20AAA4FD4180]
GO

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C91413267A1D6]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song] DROP CONSTRAINT [FK8F9C91413267A1D6]
GO

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C914186EE2579]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song] DROP CONSTRAINT [FK8F9C914186EE2579]
GO

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C91418F089676]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song] DROP CONSTRAINT [FK8F9C91418F089676]
GO

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C9141C17AD953]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song] DROP CONSTRAINT [FK8F9C9141C17AD953]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetListSongByProNameAndType]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetListSongByProNameAndType]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSong]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spListSong]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSongByCadence]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spListSongByCadence]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSongByFileType]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spListSongByFileType]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSongByPro]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spListSongByPro]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSongBySinger]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spListSongBySinger]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSongByTitle]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spListSongByTitle]
GO

IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[View_1]'))
DROP VIEW [dbo].[View_1]
GO

IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[View_2]'))
DROP VIEW [dbo].[View_2]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Song]') AND type in (N'U'))
DROP TABLE [dbo].[Song]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAddProduction]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spAddProduction]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Album]') AND type in (N'U'))
DROP TABLE [dbo].[Album]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cadence]') AND type in (N'U'))
DROP TABLE [dbo].[Cadence]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FileType]') AND type in (N'U'))
DROP TABLE [dbo].[FileType]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Production]') AND type in (N'U'))
DROP TABLE [dbo].[Production]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Singer]') AND type in (N'U'))
DROP TABLE [dbo].[Singer]
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SongType]') AND type in (N'U'))
DROP TABLE [dbo].[SongType]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SongType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SongType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SongTypeName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK__SongType__3214EC070682EC34] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[SongType] ON
INSERT [dbo].[SongType] ([Id], [SongTypeName], [Created], [Modified]) VALUES (1, N'VCD', CAST(0x0000A118015B7E34 AS DateTime), CAST(0x0000A118015B7E34 AS DateTime))
INSERT [dbo].[SongType] ([Id], [SongTypeName], [Created], [Modified]) VALUES (2, N'CD', CAST(0x0000A118015B8410 AS DateTime), CAST(0x0000A118015B8410 AS DateTime))
INSERT [dbo].[SongType] ([Id], [SongTypeName], [Created], [Modified]) VALUES (3, N'MP4', CAST(0x0000A1360063C054 AS DateTime), CAST(0x0000A1360063C054 AS DateTime))
SET IDENTITY_INSERT [dbo].[SongType] OFF

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Singer]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Singer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SingerName] [nvarchar](255) COLLATE SQL_Latin1_General_CP850_BIN NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK__Singer__3214EC077B113988] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Singer] ON
INSERT [dbo].[Singer] ([Id], [SingerName], [Created], [Modified]) VALUES (1, N'កែវ វាសនា', CAST(0x0000A11801545A14 AS DateTime), CAST(0x0000A11801545A14 AS DateTime))
INSERT [dbo].[Singer] ([Id], [SingerName], [Created], [Modified]) VALUES (2, N'ព្រាប សុវត្តិ', CAST(0x0000A11801546950 AS DateTime), CAST(0x0000A11801546950 AS DateTime))
INSERT [dbo].[Singer] ([Id], [SingerName], [Created], [Modified]) VALUES (3, N'មាស សុខសោភា', CAST(0x0000A11801593DA4 AS DateTime), CAST(0x0000A11801593DA4 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Singer] OFF

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Production]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Production](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductionName] [nvarchar](255) COLLATE SQL_Latin1_General_CP850_BIN NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK__Producti__3214EC077EE1CA6C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Production] ON
INSERT [dbo].[Production] ([Id], [ProductionName], [Created], [Modified]) VALUES (1, N'SUNDAY', CAST(0x0000A118015A9884 AS DateTime), CAST(0x0000A118015A9884 AS DateTime))
INSERT [dbo].[Production] ([Id], [ProductionName], [Created], [Modified]) VALUES (2, N'M', CAST(0x0000A118015AAB44 AS DateTime), CAST(0x0000A118015AAB44 AS DateTime))
INSERT [dbo].[Production] ([Id], [ProductionName], [Created], [Modified]) VALUES (3, N'Town', CAST(0x0000A118015AB378 AS DateTime), CAST(0x0000A118015AB378 AS DateTime))
SET IDENTITY_INSERT [dbo].[Production] OFF

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FileType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FileType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileTypeName] [nvarchar](255) COLLATE SQL_Latin1_General_CP850_BIN NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK__FileType__3214EC070E240DFC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[FileType] ON
INSERT [dbo].[FileType] ([Id], [FileTypeName], [Created], [Modified]) VALUES (1, N'DAT', CAST(0x0000A11801642F98 AS DateTime), CAST(0x0000A11801642F98 AS DateTime))
INSERT [dbo].[FileType] ([Id], [FileTypeName], [Created], [Modified]) VALUES (2, N'mp3', CAST(0x0000A118016436A0 AS DateTime), CAST(0x0000A118016436A0 AS DateTime))
INSERT [dbo].[FileType] ([Id], [FileTypeName], [Created], [Modified]) VALUES (3, N'mp4', CAST(0x0000A118016438F8 AS DateTime), CAST(0x0000A118016438F8 AS DateTime))
SET IDENTITY_INSERT [dbo].[FileType] OFF

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cadence]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Cadence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CadenceName] [nvarchar](255) COLLATE SQL_Latin1_General_CP850_BIN NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK__Cadence__3214EC0702B25B50] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Cadence] ON
INSERT [dbo].[Cadence] ([Id], [CadenceName], [Created], [Modified]) VALUES (1, N'រាំវង់', CAST(0x0000A118015C168C AS DateTime), CAST(0x0000A118015C168C AS DateTime))
INSERT [dbo].[Cadence] ([Id], [CadenceName], [Created], [Modified]) VALUES (2, N'សារ៉ាវ៉ាន់', CAST(0x0000A118015C2BA4 AS DateTime), CAST(0x0000A118015C2BA4 AS DateTime))
INSERT [dbo].[Cadence] ([Id], [CadenceName], [Created], [Modified]) VALUES (3, N'មនោសញ្ចេតនា', CAST(0x0000A1210095D6FC AS DateTime), CAST(0x0000A1210095D6FC AS DateTime))
SET IDENTITY_INSERT [dbo].[Cadence] OFF

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Album]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Album](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlbumNum] [int] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
	[ProductionId] [int] NULL,
	[SongTypeId] [int] NULL,
 CONSTRAINT [PK__Album__3214EC070A537D18] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Album] ON
INSERT [dbo].[Album] ([Id], [AlbumNum], [Created], [Modified], [ProductionId], [SongTypeId]) VALUES (1, 117, CAST(0x0000A118015BAF6C AS DateTime), CAST(0x0000A1210094B45C AS DateTime), 1, 1)
INSERT [dbo].[Album] ([Id], [AlbumNum], [Created], [Modified], [ProductionId], [SongTypeId]) VALUES (2, 9, CAST(0x0000A118015BC484 AS DateTime), CAST(0x0000A1290149F4C0 AS DateTime), 4, 1)
INSERT [dbo].[Album] ([Id], [AlbumNum], [Created], [Modified], [ProductionId], [SongTypeId]) VALUES (3, 22, CAST(0x0000A118015BDBF4 AS DateTime), CAST(0x0000A12900FDACA0 AS DateTime), 2, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Album] OFF

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spAddProduction]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create proc [dbo].[spAddProduction]
(
	@pro nvarchar(100),
	@create datetime,
	@modify datetime
)
as
begin
INSERT INTO Production
Values(@pro,@create,@modify)
end
' 
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Song]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Song](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) COLLATE SQL_Latin1_General_CP850_BIN NULL,
	[Path] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
	[SingerId] [int] NULL,
	[AlbumId] [int] NULL,
	[CadenceId] [int] NULL,
	[FileTypeId] [int] NULL,
 CONSTRAINT [PK__Song__3214EC0711F49EE0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Song] ON
INSERT [dbo].[Song] ([Id], [Title], [Path], [Created], [Modified], [SingerId], [AlbumId], [CadenceId], [FileTypeId]) VALUES (1, N'សង្សារលួចលាក់', N'\SUNDAY\VCD\SD 117\1.DAT', CAST(0x0000A118015CEE2C AS DateTime), CAST(0x0000A1210097C584 AS DateTime), 5, 1, 3, 1)
INSERT [dbo].[Song] ([Id], [Title], [Path], [Created], [Modified], [SingerId], [AlbumId], [CadenceId], [FileTypeId]) VALUES (2, N'ត្រឹមជាសង្សារលួចលាក់តែអូនស្រលាញ់បងខ្លាំង', N'\SUNDAY\VCD\SD 117\2.DAT', CAST(0x0000A1180177300C AS DateTime), CAST(0x0000A12100999210 AS DateTime), 6, 1, 3, 1)
INSERT [dbo].[Song] ([Id], [Title], [Path], [Created], [Modified], [SingerId], [AlbumId], [CadenceId], [FileTypeId]) VALUES (3, N'ស្អប់ខ្លួនឯងដែលស្រឡាញ់អូន', N'\SUNDAY\VCD\SD 117\3.DAT', CAST(0x0000A11801785AE0 AS DateTime), CAST(0x0000A121009967E0 AS DateTime), 5, 1, 3, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
SET IDENTITY_INSERT [dbo].[Song] OFF

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[View_2]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[View_2]
AS
SELECT     dbo.Production.ProductionName, dbo.Album.AlbumNum, dbo.SongType.SongTypeName
FROM         dbo.Album INNER JOIN
                      dbo.Production ON dbo.Album.ProductionId = dbo.Production.Id INNER JOIN
                      dbo.SongType ON dbo.Album.SongTypeId = dbo.SongType.Id
'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'View_2', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Album"
            Begin Extent = 
               Top = 54
               Left = 250
               Bottom = 173
               Right = 410
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Production"
            Begin Extent = 
               Top = 58
               Left = 23
               Bottom = 177
               Right = 190
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SongType"
            Begin Extent = 
               Top = 6
               Left = 441
               Bottom = 146
               Right = 605
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'View_2', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[View_1]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[View_1]
AS
SELECT     dbo.Song.Id, dbo.Song.Title, dbo.Singer.SingerName, dbo.Production.ProductionName, dbo.SongType.SongTypeName, dbo.Album.AlbumNum, 
                      dbo.Cadence.CadenceName, dbo.FileType.FileTypeName, dbo.Song.Path
FROM         dbo.Song INNER JOIN
                      dbo.Singer ON dbo.Song.SingerId = dbo.Singer.Id INNER JOIN
                      dbo.Album ON dbo.Song.AlbumId = dbo.Album.Id INNER JOIN
                      dbo.Production ON dbo.Album.ProductionId = dbo.Production.Id INNER JOIN
                      dbo.SongType ON dbo.Album.SongTypeId = dbo.SongType.Id INNER JOIN
                      dbo.Cadence ON dbo.Song.CadenceId = dbo.Cadence.Id INNER JOIN
                      dbo.FileType ON dbo.Song.FileTypeId = dbo.FileType.Id
'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'View_1', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[17] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[40] 2[19] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1[56] 3) )"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 2
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = -68
      End
      Begin Tables = 
         Begin Table = "Song"
            Begin Extent = 
               Top = 17
               Left = 531
               Bottom = 225
               Right = 691
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Singer"
            Begin Extent = 
               Top = 29
               Left = 977
               Bottom = 178
               Right = 1137
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Album"
            Begin Extent = 
               Top = 16
               Left = 272
               Bottom = 164
               Right = 432
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Production"
            Begin Extent = 
               Top = 11
               Left = 64
               Bottom = 130
               Right = 231
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SongType"
            Begin Extent = 
               Top = 141
               Left = 65
               Bottom = 260
               Right = 229
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Cadence"
            Begin Extent = 
               Top = 160
               Left = 768
               Bottom = 279
               Right = 928
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "FileType"
            Begin Extent = 
               Top = 6
               Left = 729
               Bottom = 125
               Right = 889
            End
            DisplayFlags = 280
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane2' , N'SCHEMA',N'dbo', N'VIEW',N'View_1', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 2550
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      PaneHidden = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'View_1', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSongByTitle]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'Create Proc [dbo].[spListSongByTitle]
(@title nvarchar(225))
as 
Begin
SELECT     dbo.Song.Id,dbo.Song.Title, dbo.Singer.SingerName, dbo.Production.ProductionName, dbo.SongType.SongTypeName, dbo.Album.AlbumNum, dbo.Cadence.CadenceName, 
                      dbo.FileType.FileTypeName, dbo.Song.Path
FROM         dbo.Song INNER JOIN
                      dbo.Singer ON dbo.Song.SingerId = dbo.Singer.Id INNER JOIN
                      dbo.Album ON dbo.Song.AlbumId = dbo.Album.Id INNER JOIN
                      dbo.Production ON dbo.Album.ProductionId = dbo.Production.Id INNER JOIN
                      dbo.SongType ON dbo.Album.SongTypeId = dbo.SongType.Id INNER JOIN
                      dbo.Cadence ON dbo.Song.CadenceId = dbo.Cadence.Id INNER JOIN
                      dbo.FileType ON dbo.Song.FileTypeId = dbo.FileType.Id
                      where Title Like @title+''%'' 
end' 
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSongBySinger]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'Create Proc [dbo].[spListSongBySinger]
(@singer nvarchar(225))
as 
Begin
SELECT     dbo.Song.Id,dbo.Song.Title, dbo.Singer.SingerName, dbo.Production.ProductionName, dbo.SongType.SongTypeName, dbo.Album.AlbumNum, dbo.Cadence.CadenceName, 
                      dbo.FileType.FileTypeName, dbo.Song.Path
FROM         dbo.Song INNER JOIN
                      dbo.Singer ON dbo.Song.SingerId = dbo.Singer.Id INNER JOIN
                      dbo.Album ON dbo.Song.AlbumId = dbo.Album.Id INNER JOIN
                      dbo.Production ON dbo.Album.ProductionId = dbo.Production.Id INNER JOIN
                      dbo.SongType ON dbo.Album.SongTypeId = dbo.SongType.Id INNER JOIN
                      dbo.Cadence ON dbo.Song.CadenceId = dbo.Cadence.Id INNER JOIN
                      dbo.FileType ON dbo.Song.FileTypeId = dbo.FileType.Id
                      where SingerName Like ''%''+@singer+''%'' 
end
' 
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSongByPro]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'Create Proc [dbo].[spListSongByPro]
(@pro nvarchar(225))
as 
Begin
SELECT     dbo.Song.Id,dbo.Song.Title, dbo.Singer.SingerName, dbo.Production.ProductionName, dbo.SongType.SongTypeName, dbo.Album.AlbumNum, dbo.Cadence.CadenceName, 
                      dbo.FileType.FileTypeName, dbo.Song.Path
FROM         dbo.Song INNER JOIN
                      dbo.Singer ON dbo.Song.SingerId = dbo.Singer.Id INNER JOIN
                      dbo.Album ON dbo.Song.AlbumId = dbo.Album.Id INNER JOIN
                      dbo.Production ON dbo.Album.ProductionId = dbo.Production.Id INNER JOIN
                      dbo.SongType ON dbo.Album.SongTypeId = dbo.SongType.Id INNER JOIN
                      dbo.Cadence ON dbo.Song.CadenceId = dbo.Cadence.Id INNER JOIN
                      dbo.FileType ON dbo.Song.FileTypeId = dbo.FileType.Id
                      where ProductionName Like @pro+''%'' 
end
' 
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSongByFileType]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'Create Proc [dbo].[spListSongByFileType]
(@file nvarchar(225))
as 
Begin
SELECT     dbo.Song.Id,dbo.Song.Title, dbo.Singer.SingerName, dbo.Production.ProductionName, dbo.SongType.SongTypeName, dbo.Album.AlbumNum, dbo.Cadence.CadenceName, 
                      dbo.FileType.FileTypeName, dbo.Song.Path
FROM         dbo.Song INNER JOIN
                      dbo.Singer ON dbo.Song.SingerId = dbo.Singer.Id INNER JOIN
                      dbo.Album ON dbo.Song.AlbumId = dbo.Album.Id INNER JOIN
                      dbo.Production ON dbo.Album.ProductionId = dbo.Production.Id INNER JOIN
                      dbo.SongType ON dbo.Album.SongTypeId = dbo.SongType.Id INNER JOIN
                      dbo.Cadence ON dbo.Song.CadenceId = dbo.Cadence.Id INNER JOIN
                      dbo.FileType ON dbo.Song.FileTypeId = dbo.FileType.Id
                      where FileTypeName Like @file+''%'' 
end
' 
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSongByCadence]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'Create Proc [dbo].[spListSongByCadence]
(@cadence nvarchar(225))
as 
Begin
SELECT     dbo.Song.Id,dbo.Song.Title, dbo.Singer.SingerName, dbo.Production.ProductionName, dbo.SongType.SongTypeName, dbo.Album.AlbumNum, dbo.Cadence.CadenceName, 
                      dbo.FileType.FileTypeName, dbo.Song.Path
FROM         dbo.Song INNER JOIN
                      dbo.Singer ON dbo.Song.SingerId = dbo.Singer.Id INNER JOIN
                      dbo.Album ON dbo.Song.AlbumId = dbo.Album.Id INNER JOIN
                      dbo.Production ON dbo.Album.ProductionId = dbo.Production.Id INNER JOIN
                      dbo.SongType ON dbo.Album.SongTypeId = dbo.SongType.Id INNER JOIN
                      dbo.Cadence ON dbo.Song.CadenceId = dbo.Cadence.Id INNER JOIN
                      dbo.FileType ON dbo.Song.FileTypeId = dbo.FileType.Id
                      where CadenceName Like @cadence+''%'' 
end

' 
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spListSong]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'Create Proc [dbo].[spListSong]
as 
Begin	
SELECT     dbo.Song.Id, dbo.Song.Title, dbo.Singer.SingerName, dbo.Production.ProductionName, dbo.SongType.SongTypeName, dbo.Album.AlbumNum, 
                      dbo.Cadence.CadenceName, dbo.FileType.FileTypeName, dbo.Song.Path
FROM         dbo.Song INNER JOIN
                      dbo.Singer ON dbo.Song.SingerId = dbo.Singer.Id INNER JOIN
                      dbo.Album ON dbo.Song.AlbumId = dbo.Album.Id INNER JOIN
                      dbo.Production ON dbo.Album.ProductionId = dbo.Production.Id INNER JOIN
                      dbo.SongType ON dbo.Album.SongTypeId = dbo.SongType.Id INNER JOIN
                      dbo.Cadence ON dbo.Song.CadenceId = dbo.Cadence.Id INNER JOIN
                      dbo.FileType ON dbo.Song.FileTypeId = dbo.FileType.Id
end' 
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetListSongByProNameAndType]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROC [dbo].[GetListSongByProNameAndType]
(
	@proName varchar(100),
	@type varchar(100)
)
AS
BEGIN
	SELECT     Song.Id, Song.Title, Singer.SingerName, Production.ProductionName, SongType.SongTypeName, Album.AlbumNum, Cadence.CadenceName, 
	                      FileType.FileTypeName, Song.Path
	FROM         Song INNER JOIN
	                      Singer ON Song.SingerId = Singer.Id INNER JOIN
	                      Album ON Song.AlbumId = Album.Id INNER JOIN
	                      Production ON Album.ProductionId = Production.Id INNER JOIN
	                      SongType ON Album.SongTypeId = SongType.Id INNER JOIN
	                      Cadence ON Song.CadenceId = Cadence.Id INNER JOIN
	                      FileType ON Song.FileTypeId = FileType.Id
	WHERE ProductionName=@proName AND SongTypeName=@type ORDER BY AlbumNum DESC
	
END' 
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FKA0CE20AA37AC0423]') AND parent_object_id = OBJECT_ID(N'[dbo].[Album]'))
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FKA0CE20AA37AC0423] FOREIGN KEY([ProductionId])
REFERENCES [dbo].[Production] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FKA0CE20AA37AC0423]') AND parent_object_id = OBJECT_ID(N'[dbo].[Album]'))
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FKA0CE20AA37AC0423]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FKA0CE20AAA4FD4180]') AND parent_object_id = OBJECT_ID(N'[dbo].[Album]'))
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FKA0CE20AAA4FD4180] FOREIGN KEY([SongTypeId])
REFERENCES [dbo].[SongType] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FKA0CE20AAA4FD4180]') AND parent_object_id = OBJECT_ID(N'[dbo].[Album]'))
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FKA0CE20AAA4FD4180]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C91413267A1D6]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK8F9C91413267A1D6] FOREIGN KEY([FileTypeId])
REFERENCES [dbo].[FileType] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C91413267A1D6]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK8F9C91413267A1D6]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C914186EE2579]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK8F9C914186EE2579] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Album] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C914186EE2579]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK8F9C914186EE2579]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C91418F089676]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK8F9C91418F089676] FOREIGN KEY([SingerId])
REFERENCES [dbo].[Singer] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C91418F089676]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK8F9C91418F089676]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C9141C17AD953]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK8F9C9141C17AD953] FOREIGN KEY([CadenceId])
REFERENCES [dbo].[Cadence] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK8F9C9141C17AD953]') AND parent_object_id = OBJECT_ID(N'[dbo].[Song]'))
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK8F9C9141C17AD953]
GO
